<div class="profile-page">
  <div class="profile-page-header container-fluid">
    <%# <div class="profile-picture"></div> %>
    <%= image_tag current_user.gravatar_url, class: "gravatar" %>

    <div class="name-and-friend-button">
      <h2 class="user-name"><%= @user.first_name %> <%= @user.last_name %></h2>

      <div class="add-friend-button">
        <%= render partial: 'shared/add_friend_button', locals: { user: @user }%>
      </div>
    </div>

    <div>
      <%= link_to "#{pluralize(@user.friends.count, 'friend')}" , friendship_path, class: "friend-number"%>
    </div>
  </div>
  <div class="profile-page-posts container-fluid">
    <% @posts.each do |post| %>
      <ul class="post-list">
        <div class="post-box">
          <li>
            <p class="post-author"><%= post.user.first_name %> <%= post.user.last_name %></p>
            <p class="post-content"><%= post.content %></p>
          </li>
        </div>
      </ul>
    <% end %>
  </div>
</div>