<% if current_user.friends.include?(user) %>
  <%= form_with(model: current_user.friendships.find_by(friend_id: user.id),
                html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "Delete Friend", class: "btn btn-primary btn-sm" %>
  <% end %>
<% elsif user.friend_requests.where(user_id: user.id, friend_id: current_user.id).length >= 1 %>
  <%= form_with(model: current_user.friendships.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :user_id, current_user.id %></div>
    <div><%= hidden_field_tag :friend_id, user.id %></div>
    <%= f.submit "Accept Friend Request", class: "btn btn-primary btn-sm" %>
  <% end %>
  
  <%= form_with(model: user.friend_requests.find_by(friend_id: current_user.id),
                html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "Delete Friend Request", class: "btn btn-primary btn-sm" %>
  <% end %>
<% elsif current_user.friend_requests.where(user_id: current_user.id, friend_id: user.id).length >= 1 %>
  <%= form_with(model: current_user.friend_requests.find_by(friend_id: user.id),
                html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "Delete Friend Request", class: "btn btn-primary btn-sm" %>
  <% end %>
<% elsif current_user != user %>
  <%= form_with(model: current_user.friend_requests.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :friend_id, user.id %></div>
    <div><%# hidden_field_tag :user_id, current_user.id %></div>
    <%= f.submit "Add Friend", class: "btn btn-primary btn-sm" %>
  <% end %>
<% end %>